root {
    --main-color: #73000a;
    --text-color: white;
    --footer: #393D3B;
}

/* Header */
.usc-header {
    color: white;
}

.top-linksp {
    width: min(1230px, calc(100% - 60px));
    margin: auto;
    color:black;
}

/* Small links at the top */
.top-bar {
    background: #242424;
    height: 31px;
}

.top-links {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-links a {
    padding: 0 11px;
    border-right: 1px solid #bcbcbc;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.top-links a:first-child {
    padding-left: 0;
}

.top-links a:last-child {
    border-right: 0;
}

/* Sidebar */





/*Footer Links*/
#footer-links {
    background:#73000a;
    color:white;
}

#footer-links a {
    color:white;
}

#footer-links .columns section {
    padding: 10px;
}

#footer-links section ul {
    column-width: 200px;
    column-gap: 10px;
    padding-left: 0;
    list-style-type: none;
}

#footer-links a {
    text-decoration: none;
}

/* Footer Copy*/
#footer-copy {
    background:black;
    color:white;
}

#footer-copy a {
    color:white;
}


/* Columns for all devices */
.column-mobile {
    display:flex;
}